<div>
    <h2 id="page-heading">
        <span jhiTranslate="conferenceManagementApp.room.home.title">Rooms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-room" [routerLink]="['/room/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="conferenceManagementApp.room.home.createLabel">
            Create new Room
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rooms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="conferenceManagementApp.room.numberRoom">Number Room</span></th>
            <th><span jhiTranslate="conferenceManagementApp.room.numberFloor">Number Floor</span></th>
            <th><span jhiTranslate="conferenceManagementApp.room.roomType">Room Type</span></th>
            <th><span jhiTranslate="conferenceManagementApp.room.roomState">Room State</span></th>
            <th><span jhiTranslate="conferenceManagementApp.room.hotel">Hotel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of rooms ;trackBy: trackId">
                <td><a [routerLink]="['/room', room.id, 'view' ]">{{room.id}}</a></td>
                <td>{{room.numberRoom}}</td>
                <td>{{room.numberFloor}}</td>
                <td jhiTranslate="{{'conferenceManagementApp.RoomType.' + room.roomType}}">{{room.roomType}}</td>
                <td jhiTranslate="{{'conferenceManagementApp.RoomState.' + room.roomState}}">{{room.roomState}}</td>
                <td>
                    <div *ngIf="room.hotel">
                        <a [routerLink]="['../hotel', room.hotel?.id, 'view' ]" >{{room.hotel?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/room', room.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/room', room.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'room', { outlets: { popup: room.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
