<div>
    <h2 id="page-heading">
        <span jhiTranslate="conferenceManagementApp.booking.home.title">Bookings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking" [routerLink]="['/booking/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="conferenceManagementApp.booking.home.createLabel">
            Create new Booking
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bookings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="conferenceManagementApp.booking.bookingDate">Booking Date</span></th>
            <th><span jhiTranslate="conferenceManagementApp.booking.arrivedDate">Arrived Date</span></th>
            <th><span jhiTranslate="conferenceManagementApp.booking.departureDate">Departure Date</span></th>
            <th><span jhiTranslate="conferenceManagementApp.booking.numberPerson">Number Person</span></th>
            <th><span jhiTranslate="conferenceManagementApp.booking.room">Room</span></th>
            <th><span jhiTranslate="conferenceManagementApp.booking.user">User</span></th>
            <th><span jhiTranslate="conferenceManagementApp.booking.invoice">Invoice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of bookings ;trackBy: trackId">
                <td><a [routerLink]="['/booking', booking.id, 'view' ]">{{booking.id}}</a></td>
                <td>{{booking.bookingDate | date:'medium'}}</td>
                <td>{{booking.arrivedDate | date:'medium'}}</td>
                <td>{{booking.departureDate | date:'medium'}}</td>
                <td>{{booking.numberPerson}}</td>
                <td>
                    <div *ngIf="booking.room">
                        <a [routerLink]="['../room', booking.room?.id, 'view' ]" >{{booking.room?.numberRoom}}</a>
                    </div>
                </td>
                <td>
                    {{booking.user?.login}}
                </td>
                <td>
                    <div *ngIf="booking.invoice">
                        <a [routerLink]="['../invoice', booking.invoice?.id, 'view' ]" >{{booking.invoice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/booking', booking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking', booking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'booking', { outlets: { popup: booking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
