<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conference">
            <h2><span jhiTranslate="conferenceManagementApp.conference.detail.title">Conference</span> {{conference.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="conferenceManagementApp.conference.title">Title</span></dt>
                <dd>
                    <span>{{conference.title}}</span>
                </dd>
                <dt><span jhiTranslate="conferenceManagementApp.conference.description">Description</span></dt>
                <dd>
                    <span>{{conference.description}}</span>
                </dd>
                <dt><span jhiTranslate="conferenceManagementApp.conference.address">Address</span></dt>
                <dd>
                    <span>{{conference.address}}</span>
                </dd>
                <dt><span jhiTranslate="conferenceManagementApp.conference.startDate">Start Date</span></dt>
                <dd>
                    <span>{{conference.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="conferenceManagementApp.conference.endDate">End Date</span></dt>
                <dd>
                    <span>{{conference.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="conferenceManagementApp.conference.accepted">Accepted</span></dt>
                <dd>
                    <span>{{conference.accepted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conference', conference.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
