<div>
    <h2 id="page-heading">
        <span jhiTranslate="conferenceManagementApp.hotel.home.title">Hotels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hotel" [routerLink]="['/hotel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="conferenceManagementApp.hotel.home.createLabel">
            Create new Hotel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hotels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="conferenceManagementApp.hotel.name">Name</span></th>
            <th><span jhiTranslate="conferenceManagementApp.hotel.address">Address</span></th>
            <th><span jhiTranslate="conferenceManagementApp.hotel.numberFloors">Number Floors</span></th>
            <th><span jhiTranslate="conferenceManagementApp.hotel.numberRooms">Number Rooms</span></th>
            <th><span jhiTranslate="conferenceManagementApp.hotel.city">City</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotel of hotels ;trackBy: trackId">
                <td><a [routerLink]="['/hotel', hotel.id, 'view' ]">{{hotel.id}}</a></td>
                <td>{{hotel.name}}</td>
                <td>{{hotel.address}}</td>
                <td>{{hotel.numberFloors}}</td>
                <td>{{hotel.numberRooms}}</td>
                <td>
                    <div *ngIf="hotel.city">
                        <a [routerLink]="['../city', hotel.city?.id, 'view' ]" >{{hotel.city?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hotel', hotel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hotel', hotel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'hotel', { outlets: { popup: hotel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
