<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="domain">
            <h2><span jhiTranslate="conferenceManagementApp.domain.detail.title">Domain</span> <span *jhiHasAnyAuthority="'ROLE_ADMIN'">{{domain.id}}</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="conferenceManagementApp.domain.name">Name</span></dt>
                <dd>
                    <span>{{domain.name}}</span>
                </dd>
<!--                <dt><span jhiTranslate="conferenceManagementApp.domain.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of domain.users; let last = last">
                        {{user.login}}{{last ? '' : ', '}}
                    </span>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/domain', domain.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
