<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-note-heading" jhiTranslate="conferenceManagementApp.note.home.createOrEditLabel">Create or edit a Note</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!note.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="note.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="conferenceManagementApp.note.note" for="field_note">Note</label>
                    <input type="number" class="form-control" name="note" id="field_note"
                        [(ngModel)]="note.note" required/>
                    <div [hidden]="!(editForm.controls.note?.dirty && editForm.controls.note?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.note?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.note?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="conferenceManagementApp.note.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="note.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === note.user?.id ? note.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="conferenceManagementApp.note.article" for="field_article">Article</label>
                    <select class="form-control" id="field_article" name="article" [(ngModel)]="note.article" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articleOption.id === note.article?.id ? note.article : articleOption" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
