<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-role-heading" jhiTranslate="conferenceManagementApp.role.home.createOrEditLabel">Create or edit a Role</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!role.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="role.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="conferenceManagementApp.role.roleName" for="field_roleName">Role Name</label>
                    <select class="form-control" name="roleName" [(ngModel)]="role.roleName" id="field_roleName" >
                        <option value="ADMIN_CONFERENCE">{{'conferenceManagementApp.RoleName.ADMIN_CONFERENCE' | translate}}</option>
                        <option value="AUTHOR">{{'conferenceManagementApp.RoleName.AUTHOR' | translate}}</option>
                        <option value="REVIEWER">{{'conferenceManagementApp.RoleName.REVIEWER' | translate}}</option>
                        <option value="CHAIR">{{'conferenceManagementApp.RoleName.CHAIR' | translate}}</option>
                        <option value="KEYNOTE">{{'conferenceManagementApp.RoleName.KEYNOTE' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
